<!-- <p>hello you are admin</p>
 <app-add-project></app-add-project> 


 <app-show-project></app-show-project>


 <hr>
 <hr>

 <app-add-task></app-add-task>
<hr>
 <app-show-task></app-show-task>

 <hr>
 <hr>
 <hr>
 <app-add-resource></app-add-resource>

 <app-show-resource></app-show-resource> -->
<!-- 
 <app-dash-project></app-dash-project> -->

 <div class="project-page">
    <header>
        <div class="navbar navbar-expand-lg text-light" id="nv">
            <div class="container">
                <div class="navbar-brand">
                   <img src="../../../../assets/imgs/logo.png" width="110px">
                </div>
            </div>
        </div>
    </header>

    <div class="main">
        <app-menu></app-menu>
        <div class="main-right">
            <!-- <app-dash-project></app-dash-project> -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>