.main{
    width: 100%;
    padding: 20px;
}
.article-container{
    padding: 20px 0;
    background: black;
    border-radius: 12px;
}
.article-container >h2{
    background: var(--background-color);
    font-weight: 900;
    font-size: 22px;
    text-transform: uppercase;
    padding: 20px;
    color: black;
    display: flex;
    width: 27%;
    max-width: 50%;
    border-radius: 12px;
    margin-left: 10px;
    text-shadow: 0 0 15px #FF5757;
}
form{
    padding: 20px;
}

label{
    font-size: 17px;
    font-weight: 800;
    color:white;
}

.p-group{
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.group{
    width: 50%;
}
.form-group{
    width: 90%;
}
.form-group > input , select{
    width: 100%;
    padding: 10px 20px;
    background: var(--background-color);
    border: none;
    border-radius: 7px;
    color: var(--text-color);
    outline: none;
}
textarea {
    width: 100%;
    padding: 10px;
    background: var(--background-color);
    border: none;
    color: var(--text-color);
    outline: none;
    border-radius: 7px;
}
.form-group >  textarea::placeholder{
    color: var(--text-color);
}
.form-group > input::placeholder{
    color: var(--text-color);
}
button {
    background: var(--background-color);
    color: #FF5757;
    padding: 10px;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid transparent;
}
button:hover{
    background: #1F2937;
    border: 1px solid #FF5757;
}