<div class="main">
  <div class="article-container">
    <h2>Add task</h2>
    <form [formGroup]="formTask" (ngSubmit)="onSubmit()">
      
      <div class="p-group">
        <div class="group">
          <div class="form-group">
            <label for="project_id">all project</label><br>
            <select id="project_id" formControlName="project_id" required>
              <option>Select project</option>
              <option *ngFor="let project of listProject" [value]="project.id">
                {{ project.name }} ({{ project.id }})
              </option>
            </select>
          </div>
    
          <div class="form-group">
            <label for="startDate">task start:</label>
            <input type="date" id="startDate" formControlName="startDate" />
          </div>
        </div>
    
        <div class="group">
          <div class="form-group">
            <label for="endDate">task end :</label>
            <input type="date" id="endDate" formControlName="endDate" />
          </div>
    
          <div class="form-group">
            <label for="description">task description:</label>
            <textarea id="description" formControlName="description" placeholder="Enter task description"></textarea>
          </div>
        </div>
      </div>

      <button type="submit" [disabled]="formTask.invalid">Submit Task</button>
      
    </form>
  </div>
</div>
                    
  <!-- 
      <label for="taskStatus">task status:</label>
      <select id="taskStatus" formControlName="taskStatus" required>
        <option value="not_started">not_started</option>
        <option value="In_Progress">In_Progress</option>
        <option value="Completed">Completed</option>
      </select> -->