#action{
    display: flex;
    align-items: center !important;
}
#action > button{
    margin: 5px;
}
#task{
    background: var(--background-color);
    color: white;
}
table{
    box-shadow: none;
    background: transparent;
}
th , td {
    color: white;
}
th{
    color: #FF5757 !important;
}
th{
    background: var(--background-color) !important;
}

.page-link{
    background: black !important;
    color: #FF5757 !important;
    border: 1px solid #FF5757 !important;
}
.page{
    color: #FF5757 !important;
    border: 1px solid black !important;
}