#action{
    display: flex;
    align-items: center !important;
}
#action > button{
    margin: 5px;
}
#task{
    background: var(--background-color);
    color: white;
}
table{
    box-shadow: none;
    background: transparent;
}
th , td {
    color: white;
}
th{
    background: var(--background-color) !important;
}