<!-- <div>
<div   *ngFor="let projet of listProject">

    <h3>{{projet.id}}</h3>
    <h3>{{projet.name}}</h3>
    <h3>{{projet.budget}}</h3>
    <h3>{{projet.heurs}}</h3>
    <h3>{{projet.startDate}}</h3>
    <h3>{{projet.endDate}}</h3>
    <h3>{{projet.description}}</h3>



    <button (click)="delete(projet.id)">delete project</button>
    <button (click)="showId(projet.id)">show task </button>
    
</div> -->
    <!-- id: number; // Maps to @Id and @GeneratedValue
    name: string; // Maps to @Column(name = "name")
    budget: number; // Maps to @Column(name = "budget")
    heurs: string; // Maps to @Column(name = "heurs") and LocalTime (string representation)
    startDate: string; // Maps to @Column(name = "startDate") and LocalDate (string representation)
    endDate: string; // Maps to @Column(name = "endDate") and LocalDate (string representation)
    description: string;  -->


    <table mat-table [dataSource]="listProject" class="mat-elevation-z8">

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let projet"> {{projet.id}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let projet"> {{projet.name}} </td>
        </ng-container>
      
        <!-- Budget Column -->
        <ng-container matColumnDef="budget">
          <th mat-header-cell *matHeaderCellDef> Budget </th>
          <td mat-cell *matCellDef="let projet"> {{projet.budget}}$</td>
        </ng-container>
      
        <!-- Hours Column -->
        <ng-container matColumnDef="hours">
          <th mat-header-cell *matHeaderCellDef> Hours </th>
          <td mat-cell *matCellDef="let projet"> {{projet.heurs}} </td>
        </ng-container>
      
        <!-- Start Date Column -->
        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef> Start Date </th>
          <td mat-cell *matCellDef="let projet"> {{projet.startDate}} </td>
        </ng-container>
      
        <!-- End Date Column -->
        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef> End Date </th>
          <td mat-cell *matCellDef="let projet"> {{projet.endDate}} </td>
        </ng-container>
      
        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let projet"> {{projet.description}} </td>
        </ng-container>
      
        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td id="action" mat-cell *matCellDef="let projet">
            <button id="task" mat-raised-button routerLink="tasks/{{projet.id}}">Tasks</button>
            <button mat-raised-button color="warn" (click)="delete(projet.id)"><i class="pi pi-delete-left"></i></button>
          </td>
        </ng-container>
      
        <!-- Header and Rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      